table {
  width: 100%;
  border-collapse: collapse;
}
table, td { 
  font-weight: bold;
}
.bar {
  height: 90%;
  position: absolute;
  top: 5%;
}
.bar-cell {
  position: relative;
  width: 60%;
  border: solid 1px #ddd;
}
.left-col {
  text-align: right;
}
.right-col {
  text-align: left;
}
